/*for main*/
.navbar {
  height: 100px;
}
h5 {
  font-family: "bevan";
  src: url("../assets/img/Bevan.ttf")
}


#drinks-name {
  border: 5px solid darkslategrey;
}

#fav-card {
  align-items: center;
  background-color: white;
}
/*below is also in favorites*/
.list-group-item {
  line-height: 2.5;
}
.card {
  border: none;
}
#submit:before
{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    filter: blur(20px);
    opacity: 0;
    transition: 0.5s;
    
}

#submit:hover:before
{
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}

/* h1,
h2,
h3,
h4,
h5,
p{
  font-family: "potra";
  font-weight: bolder;
} */

#submit:hover
{
  animation: animate 8s linear infinite;
}

/*drink*/
ul#drinks-list img.thumbnail {
  width: 50px;
  height: 50px;
}
#drink-fonts {
  font-size: 20px;
  
}
.drink-font {
  font-size: 20 px;
  
}
#card-border {
  border: 1px solid lightslategrey;
  text-align: center;
}



#ingredientPics{
  padding:5px;
}
#top-line {
  margin-top: 20px;
}




/*???*/




#submit{
  
  transform: translate(-50%,-50%);
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  z-index: 1;
  margin-right: -42px;
  margin-top: 10px;
  font-weight: bold;


}

/*drink*/
ul#drinks-list img.thumbnail {
  width: 50px;
  height: 50px;
}
#drink-fonts {
  font-size: 20px;
}
.drink-font {
  font-size: 20 px;
}
#card-border {
  border: 1px solid lightslategrey;
  text-align: center;
}

@keyframes animate
{
    0%
    {
      background-position: 0%;
    }
    100%
    {
      background-position: 400%;
    }
}

/*footer
#img-foot {
  background-image: url(../assets/img/handlebars.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
}
.card-footer {
  height: 50px;
  color: darkgrey;
  align-items: center;
  clear: both;
  text-align: center
  text-margin-top: 5px;
}







