<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Cosmic Cocktails</h5>
          <p>
            <strong>ID</strong>: {{drinks.id}}</p>
          <p>
          <p>
            <strong>Drink Name</strong>: {{drinks.drink_name}}</p> <!--change .text column name to drink_name -->
          <!--<p>
            <strong> Drink Ingredients:</strong> {{drinks.ingredients}}</p>-->
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>