<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Pick Your Poison!</h2>

        <form class="clearfix mb-4">
          <div class="form-group">
            <label for="drinks-name">Drink Name</label>
            <input type="text" id="drinks-name" class="form-control" aria-describedby="drinks-name" placeholder="Enter Drink Name">
          </div>

          <!--<div class="form-group">
            <label for="drinks-ingredients">Drink Ingredients</label>
            <textarea class="form-control" id="drinks-ingredients" aria-describedby="drinks-ingriedients" placeholder="Enter Drink Ingredients"></textarea>
          </div>-->
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>

        <h3>Drinks:</h3>
        <ul id="drinks-list" class="list-group">
          {{#each drinks}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="drink/{{this.id}}">{{this.drink_name}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>


